:root{
    --logo: 60px;
}

*, *::after, *::before{
    font-family: arial;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(pozadina.jpg);
}
nav{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
a{
    display: block;
    width: var(--logo);
    height: var(--logo);
}
a img{
    width: var(--logo);
    height: var(--logo);
 
}

#logo {
    margin-right: 1rem;
}

#jezik {
    margin-left: 1rem;
    color: #eee;
    text-shadow: 0 0 10px grey;
    font-weight: 900;
}

.container {
    height: 80vh;
    width: 100%;

}

.container p {
    font-size: 3rem;
    text-align: center;
}

